@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey: #f1f0f6;
  --dark-grey: #8d8d8d;
  --light: #fff;
  --dark: #000;
  --green: #81d43a;
  --light-green: #e3ffcb;
  --blue: #0bf532;
  --light-blue: #d0e4ff;
  --dark-blue: #0c5fcd;
  --red: #fc3b56;
}

html {
  overflow-x: hidden;
}

body {
  background: #192e3a;
  overflow-x: hidden;
}
#content {
  position: relative;
  width: calc(100% - 50px);
  left: 25px;
  transition: all 0.3s ease;
  margin-top: 20px;
}

main {
  width: 100%;
  padding: 24px 20px 20px 20px;
}
main .title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

main .data .content-data {
  flex-grow: 1;
  flex-basis: 400px;
  padding: 20px;
  background: rgb(39 52 71);
  border-radius: 10px;
  box-shadow: 4px 4px 8px 10px #a59a9a;
}
main .content-data .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
main .content-data .head h3 {
  font-size: 20px;
  font-weight: 600;
}

main .chat-box {
  width: 100%;
  max-height: 360px;
  overflow-y: auto;
  scrollbar-width: none;
}
main .chat-box::-webkit-scrollbar {
  display: none;
}
main .chat-box .day {
  text-align: center;
  margin-bottom: 10px;
}
main .chat-box .day span {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 20px;
  background: var(--light-blue);
  font-size: 12px;
  font-weight: 600;
}
main .chat-box .msg img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
}
main .chat-box .msg {
  display: flex;
  grid-gap: 6px;
  align-items: flex-start;
}
main .chat-box .profile .username {
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin-right: 6px;
}
main .chat-box .profile .time {
  font-size: 12px;
  color: var(--dark-grey);
}
main .chat-box .chat p {
  font-size: 14px;
  padding: 6px 10px;
  display: inline-block;
  max-width: 400px;
  line-height: 150%;
}
main .chat-box .msg:not(.me) .chat p {
  border-radius: 0 5px 5px 5px;
  background-color: var(--blue);
  color: var(--light);
}
main .chat-box .msg.me {
  justify-content: flex-end;
}
main .chat-box .msg.me .profile {
  text-align: right;
}
main .chat-box .msg.me p {
  background-color: #82ccdd;
  border-radius: 5px 0 5px 5px;
}
main form {
  margin-top: 6px;
}
main .form-group {
  width: 100%;
  display: flex;
  grid-gap: 10px;
}
main .form-group input {
  flex-grow: 1;
  padding: 10px 16px;
  border-radius: 5px;
  outline: none;
  background: var(--grey);
  border: none;
  transition: all 0.3s ease;
  width: 100%;
}
main .form-group input:focus {
  box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}
main .btn-send {
  padding: 0 16px;
  background: var(--blue);
  border-radius: 5px;
  color: var(--light);
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}
main .btn-send:hover {
  background: var(--dark-blue);
}

@media screen and (max-width: 768px) {
  #content {
    position: relative;
    width: calc(100% - 60px);
    transition: all 0.3s ease;
  }
}
