.single_product {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hide {
  display: none;
}
.single_product .product {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  width: 70%;
  margin: 0 auto;
  background-color: var(--green);
  padding: 1rem;
  border-radius: 5px;
  color: var(--dark);
  z-index: 10000;
}
.product img {
  width: 12rem;
  height: 12rem;
}
.product .stars {
  margin-top: 0.5rem;
}
.details h1 {
  text-transform: capitalize;
}
.details .price {
  padding: 0.7rem 0;
}
.details .add {
  text-align: right;
}
.add button {
  cursor: pointer;
  background-color: var(--dark);
  border: none;
  color: #fff;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
}
.add button i {
  padding-right: 0.3rem;
}
.add button:hover {
  background-color: var(--hover);
}
.single_product .shadow {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}
.shadow .close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
  font-size: 2rem;
  color: var(--green);
}
.shadow .close:hover {
  opacity: 0.8;
}
